<h2>Your Key Status'</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>Request ID</th>
        <th>Room Number</th>
        <th>Submission Date</th>
        <th>Approval Date</th>
        <th>Key Delivered</th>
    </tr>
    @for (int i = 1; i <= 5; i++) {
        Random rnd = new Random();
        int rndNum = i * rnd.Next(100, 10000);
        int roomNum = rnd.Next(100, 300);
        <tr>
            <td>@rndNum</td>
            <td>E @roomNum</td>
            <td>@DateTime.Now</td>
            <td>Not Approved</td>
            <td>Not Delivered</td>
        </tr>
    }
</table>