@{
    ViewData["Title"] = "Request";
}
<h2>Request Keys</h2>

<form method="post" action="ProcessKeyRequests">
    <table id="keyRequest" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Campus</th>
                <th>Room Number</th>
                <th>Reason for Access</th>
            </tr>
        </thead>
        <tr>
            <td><input type="text" name="campus" /></td>
            <td><input type="text" name="roomNumber" /></td>
            <td><input type="text" name="reasonForAccess" /></td>
        </tr>
    </table>
    <input type="submit" name="requestKeys" value="Request Room Access" />
    <button runat="server" onclick="addKeyRequest(); return false;">Add Key Request</button>
</form>

<script type="text/javascript">
    function addKeyRequest() {
        $("#keyRequest tbody tr:first").clone().find("input").each(function () {
            $(this).val('');
        }).end().appendTo("#keyRequest");
    }
</script>
