@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Data Lookup</h2>
<div class="row">
    <form>
        <div class="form-group col-md-4">
            <label for="search">Search:</label>
            <input id="search" class="form-control" type="text" placeholder="Search" />
        </div>
    </form>
</div>


<table class="table table-bordered table-striped">
    <tr>
        <td>ID</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Request ID</td>
        <td>Submission Date</td>
        <td>Approval Date</td>
        <td>Key Delivered</td>
    </tr>
    @for (int i = 1; i <= 25; i++) {
       
        Random rnd = new Random();
        int rndNum = i * rnd.Next(100,10000);
        
        <tr>
            <td>@i</td>
            <td>billy</td>
            <td>bob</td>
            <td>@rndNum</td>
            <td>@DateTime.Now</td>
            <td>Not Approved</td>
            <td>Not Deleivered</td>
        </tr>
    }
</table>
